<section class="bg-primary" id="about">
    <div class="container, about">
        <div class="row">
            <div class="col-md-4 text-left">
                <h2 class="section-heading" ><b>NEO</br><u>BRUTAL:</u></b></h2>
            </div>
            <div class="col-md-8 text-left">
                <p> A pioneering design technology studio revolutionizing architectural manufacturing through large-scale 3D printing and robotics. We specialize in mass customization for the architecture industry, offering scalable solutions that combine innovative design with advanced manufacturing capabilities. Our integrated platform of design, hardware, and materials enables precise control over digital fabrication, allowing architects to create unique, complex structures at scale. We're dedicated to transforming architectural visions into reality through cutting-edge technology and sustainable manufacturing practices.
                </p>

            </div>
        </div>
    </div>
</section>
