<section class="bg-primary" id="about">
    <div class="container, about">
        <div class="row">
            <div class="col-md-4 text-left">
                <h2 class="section-heading" ><b>hype</br><u> dynamics is:</u></b></h2>
            </div>
            <div class="col-md-8 text-left">
                <p>A small company with big robots, and bigger ideas. State  of  the  art  design  and  engineering  studio  that  specializes  in  automation,  robotics,  and  creativity.  It's  our mission to advance motion control and automation as  a  creative  medium,  and  build  world-class  tools  that  enable others to do the same. At   the   core   of   our   technology   is   an   integrated   software/hardware  platform  that  provides  precise  and  expressive control for industrial robots.</p>

            </div>
        </div>
    </div>
</section>
