<section class="bg-primary" id="about">
    <div class="container, about">
        <div class="row">
            <div class="col-md-4 text-left">
                <h2 class="section-heading" ><b>NEO</br><u>BRUTAL:</u></b></h2>
            </div>
            <div class="col-md-8 text-left">
                <p> Es un estudio de diseño e ingeniería especializado en automatización y robótica para la industria de la construcción. Nuestra misión es avanzar la robótica y la manufactura aditiva como tecnologías viables para la construcción, con el objetivo de desarrollar herramientas de clase mundial que permitan a otros hacer lo mismo. En el núcleo de nuestra tecnología se encuentra una plataforma integrada de diseño, hardware y materiales que ofrece un control preciso y versátil para la fabricación digital con materiales de construcción.
                </p>

            </div>
        </div>
    </div>
</section>
