<section class="contact" id="contact">
    <div class="container">
        <div class="row">
        <div class="col-sm-4  text-left">
            <h2 class="section-heading" ><b>connect</br><u> hype:</u></b></h2></br>
            <p>MIAMI, USA</p>
            <p>LINZ, AUSTRIA </p>
            <p>LEON, MEXICO</p>
        </div>
        <div class="col-sm-4  text-left">
            <h2 class="section-heading" ><b>follow</br><u> hype:</u></b></h2>
            <p>
            <div class="row">
            <p>
                <i class="fa fa-facebook-square fa-xs  bounceIn icon" data-wow-delay=".1s"></i>
                <i class="fa fa-instagram wow fa-xs bounceIn icon" data-wow-delay=".1s"></i>
                <i class="fa fa-youtube-square fa-xs  bounceIn icon " data-wow-delay=".1s"></i>
                <i class="fa fa-brands fa-tiktok fa-xs bounceIn icon" data-wow-delay=".1s"></i>
            </div>
            </p>
        </div>
        <div class="col-sm-4  text-left">
            <h2 class="section-heading" ><b>message</br><u> hype:</u></b></h2></br>
            <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p></p>
                </a>
        </div>

    </div>
</section>
