<section id="products">
    <div class="container productsb">
        <div class="row">
            <div class="col-lg-12 text-left">
                <div class="product-box">
                    <i class="  text-primary"></i>
                    <h2 class="section-heading"><b>OUR <u> products</u></b></h2>
                    <p>Ready-to-Install Solutions</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <div class="product-box">
                    <img class="img-responsive" src="img/acoustic-panel.jpg" alt="Acoustic Panel">
                    <h3>Standard Acoustic Panels</h3>
                    <p>Our signature acoustic panels are available in standard sizes and patterns:
                    <ul>
                        <li>60x60cm panels</li>
                        <li>120x60cm panels</li>
                        <li>Multiple pattern options</li>
                        <li>Easy installation system</li>
                    </ul>
                    <a href="#contact" class="btn btn-primary">Request Specifications</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <div class="product-box">
                    <img class="img-responsive" src="img/lighting-fixture.jpg" alt="Lighting Fixture">
                    <h3>Modular Lighting Systems</h3>
                    <p>Pre-designed lighting solutions that can be customized:
                    <ul>
                        <li>Pendant light systems</li>
                        <li>Wall-mounted fixtures</li>
                        <li>LED integration ready</li>
                        <li>Multiple finish options</li>
                    </ul>
                    <a href="#contact" class="btn btn-primary">View Catalog</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <div class="product-box">
                    <img class="img-responsive" src="img/wall-cladding.jpg" alt="Wall Cladding">
                    <h3>Wall Cladding Systems</h3>
                    <p>Standard architectural components:
                    <ul>
                        <li>Modular wall panels</li>
                        <li>Room divider systems</li>
                        <li>Decorative screens</li>
                        <li>Customizable patterns</li>
                    </ul>
                    <a href="#contact" class="btn btn-primary">Get Samples</a>
                </div>
            </div>
        </div>
    </div>
</section>