<section id="services">
    <div class="container servicesb">
        <div class="row">
            <div class="col-lg-12">
                <div class="service-box">
                    <i class=" text-primary"></i>
                    <h2 class="section-heading"><b>OUR <u> services</u></b></h2>
                    <p>Advanced Manufacturing Solutions</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/3dpservice.png" alt="Large Scale 3D Printing">
                    <h3>Large Scale 3D Printing</h3>
                    <p>Comprehensive design and fabrication services for large-scale 3D printing projects:
                    <ul>
                        <li>Custom architectural components</li>
                        <li>Large format 3D printing</li>
                        <li>Complex geometric structures</li>
                        <li>Material optimization</li>
                    </ul>
                    We specialize in bringing ambitious architectural visions to life through advanced 3D printing technology.</p>
                    <a href="#contact" class="btn btn-primary">Get Started</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/3dparch.png" alt="Mass Manufacturing">
                    <h3>Mass Manufacturing Systems</h3>
                    <p>Custom fabrication systems for mass production:
                    <ul>
                        <li>Production line optimization</li>
                        <li>Custom manufacturing systems</li>
                        <li>Automation integration</li>
                        <li>Quality control systems</li>
                    </ul>
                    We design and implement efficient manufacturing systems that scale from prototype to mass production.</p>
                    <a href="#contact" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/fabrication.jpg" alt="Consulting Services">
                    <h3>Consulting Services</h3>
                    <p>Expert guidance for 3D printing and additive manufacturing:
                    <ul>
                        <li>3D printed architecture consulting</li>
                        <li>Additive manufacturing integration</li>
                        <li>Technology selection</li>
                        <li>Process optimization</li>
                    </ul>
                    Our consulting services help businesses and architects leverage the full potential of 3D printing technology.</p>
                    <a href="#contact" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>


