<section id="services">
    <div class="container servicesb">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h2 class="section-heading"><b>OUR <u> services</u></b></h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/3dpservice.png" alt="Creative Integration">
                    <h3>Custom Additive Integration</h3>
                    <p class="text-muted">Transform your robotic systems with our Custom Additive Integration services. Whether you're working with thermoplastics, clay, or concrete, we specialize in integrating a diverse range of 3D printing extruders with your robots. Our expertise ensures a seamless fusion between technology and materials, enabling you to expand your production capabilities. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/3dparch.png" alt="3d printed architecture">
                    <h3>Design for large scale 3DP</h3>
                    <p class="text-muted">Leverage our decade of expertise in the 3D printing industry to transcend the ordinary. At the heart of our service is a deep understanding of both the constraints and the vast potential of 3D printing technology. We're here to guide you through designing for large-scale 3D printing, ensuring you fully exploit the technology's benefits. Whether it's maximizing efficiency, optimizing material use, or innovating in design, our team has the insights and experience to bring your visions to life. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/fabrication.jpg" alt="Robotic Integration">
                    <h3>Large Scale 3DP</h3>
                    <p class="text-muted"> Bring the unimaginable to life with our Large Scale 3D Printing services. From concept to creation, we specialize in transforming your most ambitious ideas into tangible realities. Our state-of-the-art technology and expert team are equipped to handle projects of any scale, ensuring your vision is not just realized, but also exceeds expectations. Dare to dream big—we're here to make it happen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
