<section id="services">
    <div class="container servicesb">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h2 class="section-heading"><b>Nuestros <u> servicios</u></b></h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/fabrication.jpg" alt="Creative Integration">
                    <h3>Impresión 3D a Gran Escala</h3>
                    <p class="text-muted">Nuestro servicio de impresión 3D a gran escala te brinda la oportunidad de dar vida a tus ideas. Gracias a nuestros equipos de fabricación de gran envergadura, podemos materializar desde mobiliario y esculturas hasta paneles de gran tamaño. El tamaño ya no es un obstáculo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/3dparch.png" alt="3d printed architecture">
                    <h3>Diseño arquitectónico para impresión 3D</h3>
                    <p class="text-muted">Reconociendo que cada proyecto es único, nuestro equipo de expertos trabaja estrechamente con los clientes para entender sus necesidades y visión, y luego las traduce en diseños factibles que se pueden imprimir en 3D. Utilizando software de diseño 3D de vanguardia, podemos visualizar cada aspecto del proyecto antes de la construcción, lo que permite ajustes en tiempo real y optimización del diseño.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-left">
                <div class="service-box">
                    <img class="img-responsive" src="img/3dpservice.png" alt="Robotic Integration">
                    <h3>Integracion Aditiva</h3>
                    <p class="text-muted"> Integracion de brazos roboticos industriales para la la manufactura aditiva. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
