<section id="systems">
    <div class="container servicesb">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h2 class="section-heading"><b>OUR <u>products</u></b></h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>NEObox</h3>
                    <p class="text-muted">Unlock the full potential of your manufacturing process with NEOBOX. Our innovative solution seamlessly integrates with nearly any extruder, empowering you to connect it to a robotic arm effortlessly.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>NEOcell</h3>
                    <p class="text-muted">Elevate your printing capabilities to new heights with NEOcell, the ultimate one-stop solution for large-scale printing projects. Our fully automated robotic cells are designed for immediate use, arriving pre-configured and ready to print right out of the box. Experience unparalleled convenience and efficiency, and start printing BIG without the hassle.</p>
                </div>
            </div>

        </div>
    </div>
</section>
