<section id="systems">
    <div class="container services">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h2 class="section-heading"><b>hype<u> systems</u></b></h3>
                    <p class="text-muted">Industry ready solutions</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>h-cell</h3>
                    <p class="text-muted">3D printing cell</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Robotic Fabrication</h3>
                    <p class="text-muted">From large scale 3D printing, CNC and digital craft, we can automate your process</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Human-Robot Interfaces</h3>
                    <p class="text-muted">Create awesome experiences</p>
                </div>
            </div>
        </div>
    </div>
</section>
