<section id="systems">
    <div class="container servicesb">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h2 class="section-heading"><b>Nuestros <u>Productos</u></b></h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>NeoCell</h3>
                    <p class="text-muted">Revoluciona tu producción con nuestras soluciones robóticas escalables y listas para la industria, dedicadas a la impresión 3D a gran escala. Nuestras celdas de última generación se integran sin problemas en tu flujo de trabajo, permitiendo un prototipado rápido y una fabricación optimizada. Nuestras soluciones pueden imprimir desde plásticos reciclados hasta concreto.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>NeoGrid</h3>
                    <p class="text-muted">Nuestro sistema prefabricado para la construcción de viviendas impresas en 3D, disponible proximamente ...</p>
                </div>
            </div>

        </div>
    </div>
</section>
